/* IMPOSTAZIONI GENERALI */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

#container {
  background-image: url(../img/sfondo.png);
  background-size: cover;
  /* background-position-y: -400px; */
  background-position: center;
}

p {
  font-size: 1.2rem;
  line-height: 1.7rem;
  padding-bottom: 1.2rem;
}
/* HEADER */

header {
  background-image: linear-gradient(#00a7c9, #006688);
  margin: 1rem;
  text-align: center;
  padding: 1em;
  color: white;
  font-weight: 600;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
}

figure > img {
  width: 70%;
}

header p {
  margin: 1em;
}

nav ul {
  list-style-type: none;
}
nav li {
  padding: 0.5em;
}

nav a {
  color: white;
  text-decoration: none;
}
/* MAIN */

/* ELEMENTI NEL MAIN - ARTICLE */
main {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
  margin: 1rem;
  padding: 1rem;
  margin-bottom: 3rem;
}

article {
}

article h1 {
  font-size: 2rem;
  display: inline-block;
  font-weight: 600;
  margin: 1rem 0;
  line-height: 3rem;
  padding-bottom: 2rem;
}

article a,
.related-box a {
  color: #01a4ca;
  font-weight: 600;
}

iframe {
  border-radius: 20px;
  width: 100%;
  margin-bottom: 2rem;
}
.author {
  color: gray;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.main-article strong {
  color: purple;
  font-weight: 600;
}
article ul,
article ol {
  margin-left: 2rem;
  margin-bottom: 2rem;
}

article ul li,
article ol li {
  font-size: 1.2rem;
  line-height: 1.7rem;
}

.code {
  display: inline-block;
  background-color: rgb(199, 199, 199);
  border: 1px solid grey;
  border-radius: 0.5rem;
}

.new {
  padding: 1rem;
  background-color: rgb(219, 221, 223);
  margin-bottom: 3em;
}

.new h2,
.related-box h2 {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 2rem;
}

.related-box div {
  background-color: rgb(219, 221, 223);
  border: 1px solid grey;
  padding: 1rem;
  margin-bottom: 1rem;
}

.related-box div > p:first-child {
  padding-bottom: 0;
}

.related-box div > p:last-child {
  text-align: right;
  font-size: 1rem;
}
/* TABELLE */

.table {
  font-size: 1.2rem;
  display: table;
}
.table-title {
  /* font-size: 1.8rem; */
  font-style: italic;
  font-weight: 600;
  text-align: center;
}

.table-row {
  display: table-row;
  width: auto;
}

.table-row:nth-of-type(even) {
  background-color: #eeeeee;
}

.table-row:nth-of-type(2) {
  background-color: #3366cc !important;
  color: white;
}

.table-cell {
  display: inline-block;
  padding: 0.8rem;
  display: table-cell;
}

.table-row-col {
}
/* FORM */

#fform {
}

.new form * {
  padding: 0.4rem;
  font-size: 1.2rem;
  height: 2rem;
}

.new input {
  border: none;
  border-bottom: dashed 1px black;
  width: auto;
}

.new button {
  background-color: #3366cc;
  color: white;
  font-weight: 600;
  border: none;
}

/* ELEMENTI NELL' ASIDE */

/* FOOTER */

footer {
  background-image: linear-gradient(#0c5664, #013141);
  margin: 1rem;
  text-align: center;
  padding: 1em;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
  line-height: 1.5rem;
  padding-bottom: 3rem;
}

footer a {
  color: purple;
}
