/* IMPOSTAZIONI GENERALI */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

#container {
  background-image: url(../img/sfondo.png);
  background-size: cover;
  /* background-position-y: -400px; */
  background-position: center;
}

/* HEADER */

header {
  background-image: linear-gradient(#00a7c9, #006688);
  margin: 1rem;
  text-align: center;
  padding: 1em;
  color: white;
  font-weight: 600;
}

figure > img {
  width: 70%;
}

header p {
  margin: 1em;
}

nav ul {
  list-style-type: none;
}
nav li {
  padding: 0.5em;
}

nav a {
  color: white;
  text-decoration: none;
}
/* MAIN */

/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
